.list {
    font-size: 20px;
    color:darkgrey;
}


.list li {
    margin:  30px 0;
}


.list li span {
    color: black;
    margin-left: 10px;
    
}


.img {
    width: 100px;
    height: 100px;
}